<div class="flex_404">
  <div class="inner_404">
    <p>Error 404 - Seite nicht vorhanden</p>
    <a href="/" class="viernullvier"><button class="middle_button">Zurück zu Home
      </button></a>
  </div>
</div>