<h1>Account</h1>
<p>Welcome</p>
{{#users}}
  <p>{{username}}</p>
{{/users}}

<h3>Your posts</h3>
{{#myposts}}
  <div class="post">
    <h3>{{titel}}</h3>
    <img src="/uploads/{{bild1}}" class="img" />
  </div>
{{/myposts}}

<!-- Deine Posts-->

<h3>Liked posts</h3>
<!-- Die gelikten Posts-->

<a href="/login">


<button type="submit" class="form-container" >log out</button>

