<div class="container">

  <div class="contact-form">
    <h3 class="forms">Zugriff anfordern</h3>
    <p>Bitte geben Sie Ihre Daten an, damit wir Ihren Zugriff prüfen können.</p>
    <form action="">
      <div class="form-group">
        <input type="text" placeholder="Vorname" />
        <input type="text" placeholder="Nachname" />
      </div>
      <div class="email">
        <input type="email" class="full-width" placeholder="E-Mail Adresse" />
      </div>
      <textarea placeholder="Geben Sie hier ihre Begründung ein"></textarea>
      <button class="button">Zugriff anfordern</button>
    </form>
  </div>

</div>
<img src="/img/Buchstabe/z.png" alt="" class="background-letter" />