<body>

  <div class="container">
    <div class="contact-form">
      <h2>Trainingsweekend Anmeldung</h2>
      <form id="eventForm">
        <div id="errorMsg" class="error"></div>
        <input
          type="text"
          id="name"
          placeholder="Dein Name"
          class="full-width"
          required
        />
        <input
          type="email"
          id="email"
          placeholder="Deine E-Mail"
          class="full-width"
          required
        />
        <br />
        <button type="submit" class="button">Anmelden</button>
      </form>
      <div id="successMsg" class="success"></div>
    </div>
  </div>

</body>