{{#myposts}}
  <div class="head_blog">
    <h4> {{created_at}}</h4>
    <h1> {{titel}}</h1>
    <img src="/Images/Afrika.jpg" class="img" />
  </div>

  <p>{{inhalt}}</p>
  <div class="blog_img">
    <img src="/Images/Afrika.jpg" alt="bild2" class="img" />
    <img src="/Images/Afrika.jpg" alt="bild3" class="img" />
    <img src="/Images/Afrika.jpg" alt="bild4" class="img" />
  </div>
{{/myposts}}