{{#myposts}}
  <div class="head_blog">
    <h4> {{created_at}}</h4>
    <h1> {{titel}}</h1>
    <div
      class="bg-img"
      style="background-image: url('/Images/Schottland.jpg')"
    ></div>
  </div>

  <p>{{inhalt}}</p>
  <div class="blog_img">
    <div
      class="bg-img schottland breit"
      style="background-image: url('/public/Images/Wasserfall.jpg')"
    ></div>

    <div
      class="bg-img schottland breit"
      style="background-image: url('/public/Images/Castle.jpg')"
    ></div>

    <div
      class="bg-img"
      style="background-image: url('/Images/Schottland.jpg')"
    ></div>
  </div>
{{/myposts}}