<h2>Erklärungsseite</h2>
<p>
  <b>Was habt ihr verändert? </b>
  Um die Webseite nutzerfreundlicher, strukturierter und optisch ansprechender
  zu gestalten, haben wir folgende 
  
  Änderungen vorgenommen: 
  Navigation und Benutzerfreundlichkeit optimieren 
  - Die Hauptnavigation wird übersichtlicher
  strukturiert und klar erkennbar positioniert. 
  - Das Vereinslogo wird als Home-Button platziert. 
  - Die Startseite erhält eine klare Funktion mit
  direkten Links zu wichtigen Informationen (z. B. Trainingspläne, Anmeldungen).
  Design modernisieren und an Vereinsidentität anpassen 
  - Die Farbgestaltung wird an die Vereinsfarben (Blau) angepasst. 
  - Die Webseite wird optisch ansprechender gestaltet, um einen professionelleren Eindruck zu hinterlassen.
  - Das Vereinslogo wird auch in der URL eingebunden. 

  <b>   Home:  </b> 
  - Moderneres und
  ansprechenderes Design. - Direkter Link zum Probetraining und anderen
  wichtigen Seiten. - Newsbereich bzw. Aktuelles als neue Funktion. Bspw.
  Rangliste (Abgrenzung: Nur News Kacheln, keine genauere Seite wird erstellt ->
  auf Zeitgründen) Verein: - Grösseres und aktuelles Bild des Vereins. - Kurze
  Geschichte Training (neu) - Trainingszeiten - Probetraining anmelde Option -
  Ort Login - Anmelden - Zugriff Anfordern, um überhaupt an einen Code zu
  gelangen. Impressum (neu) - Verweis auf die Kontaktseite. Warum ist eure
  Lösung besser? - Erhöhte Benutzerfreundlichkeit: Klare Navigation, intuitive
  Bedienung und direkte Zugänglichkeit zu wichtigen Informationen erleichtern
  die Nutzung. Über das Logo gelangt man immer auf die Homeseite. - Bessere
  Struktur: Die Inhalte sind logisch geordnet und einfacher auffindbar. -
  Moderneres Design: Die Webseite wirkt ansprechender, professioneller und ist
  an die Vereinsfarben angepasst. Womit seid ihr zufrieden, womit nicht? + Die
  verbesserte Navigation und klaren Struktur. + Die optischen Verbesserung durch
  modernes Design. + Die neue Startseite, die nun einen Zweck erfüllt. + Die
  Integration eines News-Bereichs, um Aktuelles zu kommunizieren. - Es fehlt die
  Seite der Internen, da wir leider keinen Zugriff auf diese Seite hatten. -
  Leider gab es keine aktuellen Bilder des Vereins, somit wir Bilder aus dem
  Internet verwenden mussten (als Platzhalter). - Wir mussten Seiten, wie die
  News-Detail-Seite, abgrenzen, da es zeitlich zu knapp wurde.
</p>