&copy; 2024 BBZ Biel

<h2>Impressum</h2>
<p class="subtitle">Geräteturnverein Matzendorf</p>
<p>Sporthalle Matzendorf<br />Gartenstrasse 2<br />4713 Matzendorf</p>

<p class="subtitle">Kontakt:</p>
<p>Sonja Nussbaumer<br />076 455 88 48</p>

<h2 class="title">Datenschutz</h2>
<p class="subtitle">Verantwortlich im Sinne der Datenschutz-Grundverordnung
  (DSGVO):</p>
<p>Geräteturnverein Matzendorf<br />Gartenstrasse 2<br />4713 Matzendorf</p>

<p class="subtitle">Erfassung und Verarbeitung personenbezogener Daten</p>
<p>Wir erfassen und verarbeiten personenbezogene Daten, die Sie uns über
  Kontaktformulare, Anmeldungen oder per E-Mail mitteilen...</p>

<p class="subtitle">Ihre Rechte</p>
<p>Sie haben das Recht auf Auskunft, Berichtigung, Löschung sowie Einschränkung
  der Verarbeitung Ihrer personenbezogenen Daten...</p>

<p class="subtitle">Änderungen der Datenschutzerklärung</p>
<p>Wir behalten uns vor, diese Datenschutzerklärung jederzeit zu ändern...</p>

<p class="date">Stand: 03. März 2025</p>

<a href="/Erklaerungsseite" class="a_button_w"><button
    class="button"
  >Erklärungsseite
  </button></a>

<img src="/img/Buchstabe/i.png" alt="" class="background-letter" />