<h2>K1 - K3</h2>

<h4>Traningszeiten:</h4>
<p>Dienstag: 17.00 - 19.00 Uhr(jede 2. Woche) </p>
<p>Mittwoch: 16.00 - 18.00 Uhr</p>

<h4>Vorausetzung:</h4>
<p>Vortgeschritten, Bereits Erfahrungen gesammelt</p>

<a href="/training" class="a_button_w"></a><button class="button">Zurück zur
    Übersicht</button></a>
<img src="/img/K/K-1.png" alt="turnerin" class="background-letter_K" />