<h2>K4 - KD</h2>

<h4>Traningszeiten:</h4>
<p>Mittwoch - 17.45 - 20.00 Uhr</p>
<p> amstag: 08.45 - 11.30 Uhr</p>

<h4>Vorausetzung:</h4>
<p>Profi, Viel Erfahrung</p>
<button class="button"><a href="/training" class="a_button_w">Zurück zur
    Übersicht</a></button>
<img src="/img/K/KD.png" alt="turnerin" class="background-letter_K" />