<h2>KBasis</h2>

<h4>Traningszeiten:</h4>
<p>Mittwoch 14:30 - 16:30 </p>

<h4>Vorausetzung:</h4>
<p>Anfänger, Keine Erfahrung</p>
<button class="button"><a href="/training" class="a_button_w">Zurück zur
    Übersicht</a></button>
<img src="/img/K/Kbasis.png" alt="turnerin" class="background-letter_K" />