
  <body>

      <div class="background-triangle"></div>
      <h2>Kontakt</h2>

      <div class="contact-section">
        <div class="left">
          <p>
            Hast du Fragen zu unserem Verein oder möchtest du mal unverbindlich
            reinschauen, dann melde dich bitte vorgängig bei Sonja Nussbaumer.
          </p>
          <p>Wir werden uns so rasch als möglich bei dir melden...</p>
        </div>

        <div class="right">
          <div class="contact-info">
            <p>Kontakt</p>
            <p>Sonja Nussbaumer</p>
            <p>+41 76 455 88 48</p>
          </div>
        </div>
      </div>

      <div class="contact-form">
        <h3 class="forms">Kontaktiere uns</h3>
        <form action="">
          <div class="form-group">
            <input type="text" placeholder="Vorname" />
            <input type="text" placeholder="Nachname" />
          </div>
          <div class="email">
            <input
              type="email"
              class="full-width"
              placeholder="E-Mail Adresse"
            />
          </div>
          <textarea placeholder="Deine Nachricht"></textarea>
          <button class="button">Senden</button>
        </form>
      </div>

      <h2>Karte</h2>
      <div class="map-section">
        <div class="left_card">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5410.8618674171985!2d7.631225800000001!3d47.305919300000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4791d10cd0dd084b%3A0x91ede35d0db489e8!2sGartenstrasse%202%2C%204713%20Matzendorf!5e0!3m2!1sde!2sch!4v1745926149642!5m2!1sde!2sch"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>
        <div class="right_card">
          <h3>Adresse</h3>
          <p>
            Sporthalle Matzendorf
            <br />
            Gartenstrasse 2,
            <br />
            4713 Matzendorf
          </p>
        </div>
      </div>

    <img src="/img/Buchstabe/k.png" alt="" class="background-letter" />
  </body>
</html>