<div class="container">

    <h3 class="forms">Mitgliederbereich</h3>

    <p>Bitte das Passwort unten eingeben.</p>

      <div class="form">
        <p>Passwort</p>
        <label for="password"></label>
        <input
          type="password"
          id="password"
          name="passwort"
          placeholder="password"
          required
        />
      </div>

      <div class="middle_button">
        <button class="button-cards" type="submit">Login</button>
      </div>
    </form>

    <p class="link">Noch keinen Zugriff?<a href="/anfrage">Jetzt Anfragen!</a></p>

</div>