<div class="form-wrapper">
  <div class="form-container">
    <h1>Login</h1>
    <h3>Please enter your login data</h3>

    <form action="/login" method="POST">
      <div class="form">
        <label for="username"><img
            src="/icons/user.png"
            alt="icon for user"
          /></label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
          required
        />
      </div>

      <div class="form">
        <label for="password"><img
            src="/icons/padlock.png"
            alt="icon for password"
          /></label>
        <input
          type="password"
          id="password"
          name="passwort"
          placeholder="password"
          required
        />
      </div>

      <div class="form">
        <button type="submit">Login</button>
      </div>
    </form>

    <p>Don't have an account yet? <a href="/register">Register now!</a></p>
  </div>
</div>