<div class="container">
  <div class="contact-form">
    <h3 class="forms">Mitgliederbereich</h3>
    <p>Bitte das Passwort unten eingeben.</p>

    <form action="/login" method="POST">
      <div class="email">
        <input
          type="password"
          name="passwort"
          class="full-width"
          placeholder="Passwort"
          required
        />
      </div>
      <a href="/intern" class="a_button_w">
        <button class="button">
          login
        </button></a>
    </form>

    <p class="link"><a href="/anfrage">Noch keine Zugriff? Jetzt Anfragen!</a></p>
  </div>
</div>
<img src="/img/Buchstabe/m.png" alt="" class="background-letter" />