<body>
  <div class="form-wrapper">
    <div class="form-container_post">
      <h1>Posten</h1>

      <form
        action="/create_post"
        enctype="multipart/form-data"
        method="post"
        class="form_post"
      >
        <p>Title</p>
        <input type="text" name="titel" />
        <p>Subtitle</p>
        <input type="text" name="untertitel" />
        <p>Text</p>
        <textarea name="inhalt" rows="1" oninput="adjustTextareaHeight(this)"></textarea>
        <p>Pictures</p>
        <p>Picture 1</p>
        <input type="file" name="bild" />
        <p>Picture 2</p>
        <input type="file" name="bild" />
        <p>Picture 3</p>
        <input type="file" name="bild" />
        <p>Picture 4</p>
        <input type="file" name="bild" />
        <input type="submit" name="button" class="button_post">
        
      </form>
    </div>
  </div>

  <script>
    // Adjust the height of the textarea dynamically
    function adjustTextareaHeight(textarea) {
      textarea.style.height = "auto"; // Reset height to calculate the new size
      textarea.style.height = textarea.scrollHeight + "px"; // Set height based on content
    }
  </script>
</body>