<div class="form-container">
  <h1>Posten</h1>

  <form
    action="/create_post"
    enctype="multipart/form-data"
    method="post"
    class="form_post"
  >
    <p>Title</p>
    <input type="text" name="titel" />
    <p>Subtitle</p>
    <input type="text" name="untertitel" />
    <p>Text</p>
    <input type="text" name="inhalt" />
    <p>Pictures</p>
    <input type="file" name="bild" />
    <input type="file" name="bild" />
    <input type="file" name="bild" />
    <input type="file" name="bild" />
    <input type="submit" />
  </form>
</div>