<div class="form-wrapper">
  <div class="form-container_post">
    <h1>Posten</h1>

    <form
      action="/create_post"
      enctype="multipart/form-data"
      method="post"
      class="form_post"
    >
      <p>Title</p>
      <input type="text" name="titel" />
      <p>Subtitle</p>
      <input type="text" name="untertitel" />
      <p>Text</p>
      <input name="inhalt" class="inhalt"></input>
      <p>Pictures</p>
      <p>Bild1</p>
      <input type="file" name="bild" />
      <p>Bild2</p>
      <input type="file" name="bild" />
      <p>Bild3</p>
      <input type="file" name="bild" />
      <p>Bild4</p>
      <input type="file" name="bild" />
      <input type="submit" />
    </form>
  </div>
</div>