<div class="form-container">
  <h1>Register</h1>

  <form action="/register" method="POST">
    <div class="form">
      <label for="username"><img src="/icons/user.png" alt="icon for user" /></label>
      <input type="text" id="username" name="username" required />
    </div>

    <div class="form">
      <label for="email"><img src="/icons/email.png" alt="icon for e-mail" /></label>
      <input type="email" id="email" name="email" required />
    </div>

    <div class="form">
      <label for="password"><img src="/icons/padlock.png" alt="icon password" /></label>
      <input type="password" id="password" name="passwort" required />
    </div>

    <div class="form">
      <button type="submit">Register</button>
    </div>
  </form>
</div>
