<body>

  <div class="grid-container">
    <div class="left">
      <h2>Geräteturnen</h2>
      <h3 class="black">
        Wir sind der Geräteturnverein Matzendorf. Auf dieser Website findest du
        alle wichtigen News und Infos über unseren Verein.
      </h3>
      <div class="middle_button">
        <a href="/training"><button type="submit">Probetraining</button></a>
        <a href="/training"><button type="submit">Trainingszeiten</button></a>
      </div>
    </div>
    <img
      src="/img/M-website.png"
      alt="turnerin"
      class="background-letter_start"
    />
  </div>

  <div class="news-section">
    <h2>News</h2>
    <div class="subtitle">
      <p>
        Haben wir ihre Interesse geweckt? Jetzt mit uns Kontakt aufnehmen oder
        gleich via Formular für ein unverbindliches Probetraining anmelden.
      </p>
    </div>
  </div>

  <div class="flex">
    <!-- Wettkampf -->
    <div class="container">
      <h4>Wettkampf 3.3.2025</h4>
      <div>
        <h5>Wo?</h5>
        <p>Lohnlüterkofen</p>
      </div>
      <div>
        <h5>Wer?</h5>
        <p>K1-KD</p>
      </div>
      <div>
        <h5>Wann?</h5>
        <p>Startzeiten sind je nach Kategorie unterschiedlich – siehe mehr unter
          Infos</p>
      </div>
      <div class="button_news">
        <button class="button"><a
            href="/Rangliste"
            class="a_button_w"
          >Ranglisten</a></button>
        <button class="button_white"><a href="/mehrinfo" class="a_button">Mehr
            Infos</a></button>
      </div>
    </div>

    <!-- Trainingsweekend -->
    <div class="container">
      <h4>Trainingsweekend <span>(Intern)</span></h4>
      <div>
        <h5>Wo?</h5>
        <p>Matzendorf Turnhalle</p>
      </div>
      <div>
        <h5>Wer?</h5>
        <p>K1-KD</p>
      </div>
      <div>
        <h5>Wann?</h5>
        <p>Am 17.05.2025 um 09:00 Uhr</p>
      </div>
      <div class="button_news">
        <button class="button"><a
            href="/anmelden"
            class="a_button_w"
          >Anmelden</a></button>
        <button class="button_white"><a href="/mehrinfo" class="a_button">Mehr
            Infos</a></button>
      </div>
    </div>
  </div>

</body>