<div class="titelcard">
  <h1 class="white">Explor the natur <br /> of scottland </h1>
  <h3 class="white">A place full of Secrets.</h3>
  <button class="white">View Blog</button>
</div>

Explor the natur of scottland