<div class="titelcard">
  <h1 class="white">Explor the natur <br /> of scottland </h1>
  <h3 class="white">A place full of Secrets.</h3>
  <button class="white">View Blog</button>
</div>

<h2>Explor the natur of scottland</h2>

<div class="destination1">
  <h4 class="white">Kyoto</h4>
  <p class="white">The timeless beatuy</p>
  <a href="/blogdetail/{{id}}">more</a>
</div>