<body>
  <h2> Verein</h2>
  <p>Das Geräteturnen Matzendorf wurde 1988 von Sonja Jakob gegründet und wird
    seit 2011 von Sonja Nussbaumer weitergeführt. Wir sind zurzeit 35
    Turnerinnen von Kategorie 1 bis Kategorie Damen. Wir trainieren 2 x pro
    Woche zwischen 1.5 und 2 Stunden. Eingestuft in die jeweiligen Kategorien K1
    bis KD, lernen die Mädchen ihrem Alter gerechte Trainingsmethoden um ihre
    Beweglichkeit und Muskulatur zu trainieren und aufzubauen. Individuell
    bieten wir die Möglichkeit an verschiedenen Wettkämpfen teilzunehmen. Das
    Geräteturnen ist eine Sportart, welche sich aus den Komponenten Eleganz,
    Beweglichkeit, Koordination und Kraft zusammensetzt und sowohl den Teamgeist
    wie auch die Selbstdisziplin fördert.</p>


    <a href="/training" ><button type="submit"  class="button">Trainingszeiten</button></a>


     <p>
        Neue Turnerinnen sind bei uns herzlich Willkommen. Das Geräteturnen soll  möglichst vielen interessierten Jugendlichen zugänglich gemacht werden.  Obwohl es sich beim Geräteturnen um eine Einzelsportart handelt, bieten  wir die Möglichkeit, den Sport aktiv auszuüben und zugleich das  kameradschaftliche Miteinander zu pflegen. Uns ist es wichtig, auch in  Zukunft diesen sportlichen Ausgleich anzubieten.</p>
      
      
            <a href="/training" ><button type="submit" class="button">Probetraining</button></a>
<br>
            <img src="/img/Verein_2.jpg" alt="Verein">
           

    </div>
  
</body>