* {
  font-family: "Poppins", sans-serif;
}

header,
footer {
  background-color: white;
  padding: 12px;
}

body {
  padding-left: 30px;
  padding-right: 30px;
}

.titelcard {
  padding-right: 500px;
}

h1.white {
  color: #fff;
  padding-left: 30px;
  padding-top: 50px;
  font-size: 64px;
  font-weight: 20px;
}
h1.head_blog {
  color: black;
  font-size: 64px;
}
h3.white {
  color: #fff;
  font-weight: lighter;
  padding-left: 30px;
  margin-top: -20px;
  font-size: 30px;
}

h3.black {
  color: #000000;
  font-weight: lighter;
  font-size: 30px;
  margin-top: -50px;
  padding-bottom: 40px;
  text-align: center;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

button.white {
  background-color: transparent;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7;
  padding-bottom: 7;
  margin-left: 2em;
  border-radius: 70px;
  border: 2px solid white;
}
button.white:hover,
button.white:focus {
  background-color: #6f6f6f2b;
}

.flex {
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
}

div.titelcard {
  background-image: url("/Images/Schottland.jpg"); /* Pfad zum Bild */
  background-size: cover; /* Passt das Bild an, sodass es den gesamten Bildschirm abdeckt */
  background-position: center; /* Positioniert das Bild in der Mitte */
  background-repeat: no-repeat; /* Verhindert, dass sich das Bild wiederholt */
  height: 500px; /* Stellt sicher, dass das Hintergrundbild die gesamte Höhe des Viewports einnimmt */
  margin: 20px; /* Entfernt den Standardrand */
  border-radius: 17px;
}

h4.white {
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding-bottom: 20px;
}

p.white {
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding-left: 0.5em;
  font-size: small;
}

h2 {
  color: #000000;
  font-size: 50px;
  text-align: center;
}

/* Header */

/* Forms */
/* Container für das Formular - graue box*/
.form img {
  height: 2em;
}
.form-container {
  background-color: #e0e0e0; /* Grauer Hintergrund für das Formular */
  padding: 20px;
  border-radius: 10px; /* Abgerundete Ecken für den Formular-Container */
  width: 100%;
  max-width: 400px; /* Begrenzte Breite des Formulars */
}

/* Allgemeines Styling für die Formularelemente */

div.destination {
  padding-left: 50px;
  background-image: url("/Images/Japan.jpg");
  background-size: cover; /* Passt das Bild an, sodass es den gesamten Bildschirm abdeckt */
  background-position: center; /* Positioniert das Bild in der Mitte */
  background-repeat: no-repeat; /* Verhindert, dass sich das Bild wiederholt */
  height: 480px; /* Stellt sicher, dass das Hintergrundbild die gesamte Höhe des Viewports einnimmt */
  width: 300px;
  margin-left: 20px;
  border-radius: 15px;
  position: relative;
}

.form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form label {
  width: 120px; /* Festgelegte Breite für das Label */
  margin-right: 10px; /* Abstand zwischen Label und Input */
}

/* Styling für die Input-Felder */
.form input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

/* Hover- und Fokus-Effekte für Input-Felder */
.form input:hover,
.form input:focus {
  border-bottom: 1px solid #838383; /* Blauer Rand bei Fokus */
}

/* Button Styling */
.form-container button {
  width: 100%;
  padding: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 30px; /* Abgerundete Ecken für den Button */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Hover-Effekt für den Button */
.form-container button:hover {
  background-color: #ccc;
}
.form-container p {
  color: #333;
}

.form-container a {
  color: #333;
  text-decoration: underline;
}

.form-container a:hover {
  color: #007bff;
}

/* Blogdetail page */
.head_blog img {
  height: 500px; /* Stellt sicher, dass das Hintergrundbild die gesamte Höhe des Viewports einnimmt */
  border-radius: 17px;
}

.blog_img {
  display: flex;
  flex-wrap: wrap; /* Damit die Bilder auf zwei Linien umgebrochen werden */
  gap: 5px;
}

.blog_img img {
  width: 49%; /* Zwei Bilder links, die je 49% der Breite haben */
  margin-bottom: 10px; /* Abstand zwischen den Bildern */
  border-radius: 17px;
}

.blog_img img:last-child {
  width: 49%; /* Das rechte Bild nimmt ebenfalls 49% ein */
  height: 100%; /* Passt die Höhe an die beiden linken Bilder an */
  object-fit: cover; /* Verhindert Bildverzerrung */
}
