* {
  font-family: "Poppins", sans-serif;
}

header,
footer {
  background-color: white;
  padding: 12px;
}

img.logo {
  width: 30px;
}

img.persona {
  width: 30px;
  float: right;
}

body {
  padding-left: 70px;
  padding-right: 70px;
}

.titelcard {
  padding-right: 500px;
}

h1.white {
  color: #fff;
  padding-left: 30px;
  padding-top: 50px;
  font-size: 64px;
  font-weight: 20px;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h1.head_blog {
  color: black;
  font-size: 64px;
}

h3.white {
  color: #fff;
  font-weight: lighter;
  padding-left: 30px;
  margin-top: -20px;
  font-size: 30px;
}
h3.top {
  margin-top: 10%;
}

h3.black {
  color: #000000;
  font-weight: lighter;
  font-size: 30px;
  margin-top: -50px;
  padding-bottom: 40px;
  text-align: center;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

button.white {
  background-color: transparent;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7;
  padding-bottom: 7;
  margin-left: 2em;
  border-radius: 70px;
  border: 2px solid white;
}
button.white:hover,
button.white:focus {
  background-color: #6f6f6f2b;
}

/*post*/
textarea {
  overflow: hidden;
  resize: none; /* Deaktiviert manuelles Resize */
  width: 50%; /* Passt die Breite an */
  box-sizing: border-box; /* Bezieht Padding und Border in die Breite ein */
}
.form-container_post input {
  width: 50%;
}

.form-container_post .button_pst {
  padding: 10px;
  margin-top: 10px;
  width: 20%;
  border: 2px solid;
  border-radius: 30px;
  background: transparent;
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.Account {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

div.titelcard {
  background-image: url(""); /* Pfad zum Bild */
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url("/uploads/{{firstPost.bild1}}");
  background-size: cover; /* Passt das Bild an, sodass es den gesamten Bildschirm abdeckt */
  background-position: center; /* Positioniert das Bild in der Mitte */
  background-repeat: no-repeat; /* Verhindert, dass sich das Bild wiederholt */
  height: 500px; /* Stellt sicher, dass das Hintergrundbild die gesamte Höhe des Viewports einnimmt */
  border-radius: 17px;
}

h4.white {
  position: absolute;
  bottom: -10px;
  color: #fff;
  padding-bottom: 20px;
  font-size: 25px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7); /* Schwarzer Schatten */
}

p.white {
  position: absolute;
  bottom: 0px;
  color: #fff;
  font-size: 18px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

h2 {
  color: #000000;
  font-size: 50px;
  text-align: center;
}

/* Header */

/* Forms */
/* Container für das Formular - graue box*/
.form img {
  height: 2em;
}

.form-wrapper {
  display: flex;
  justify-content: center;

  height: 100vh; /* Full viewport height */
}
.form-container {
  margin: 2em;
  background-color: #e0e0e0; /* Grauer Hintergrund für das Formular */
  padding: 5%;
  border-radius: 10px; /* Abgerundete Ecken für den Formular-Container */
  width: 80%;
  width: 50%; /* Begrenzte Breite des Formulars */
  height: 50%;
}

.form-container_post {
  margin: 2em;
  background-color: #e0e0e0; /* Grauer Hintergrund für das Formular */
  padding: 5%;
  border-radius: 10px; /* Abgerundete Ecken für den Formular-Container */
  width: 80%;
  height: fit-content;
}

.form-container h3 {
  font-size: 30px;
  font-weight: lighter;
  margin-top: 0;
}

.form-container h1 {
  margin: 0;
  font-size: 45px;
}

.form-container_post h1 {
  margin: 0;
  font-size: 45px;
}
/* Allgemeines Styling für die Formularelemente */

div.destination {
  padding-left: 25px;
  background-image: url("/Images/Japan.jpg");
  background-size: cover; /* Passt das Bild an, sodass es den gesamten Bildschirm abdeckt */
  background-position: center; /* Positioniert das Bild in der Mitte */
  background-repeat: no-repeat; /* Verhindert, dass sich das Bild wiederholt */
  height: 450px; /* Stellt sicher, dass das Hintergrundbild die gesamte Höhe des Viewports einnimmt */
  border-radius: 25px;
  position: relative;
}

.heart {
  position: absolute;
  right: 30px;
  bottom: 50px;
  color: red; /* Default */
  height: 25px;
}

.heart_blog {
  position: absolute;
  height: 25px;
  right: 5px;
  bottom: 10px;
  margin: 40px;
}

.heart_blog .heart_blog {
  width: 40px;
  margin: 20px;
  margin-top: 70px;
}

.heart img {
  height: 20px;
  filter: invert(1);
}

.form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form_post {
  background: transparent;
  border: none;
}
.form_post img {
  width: 10%;
  display: flex;
  margin-bottom: 15px;
}

.form label {
  width: 120px; /* Festgelegte Breite für das Label */
  margin-right: -50px;
}

/* Styling für die Input-Felder */
.form input {
  width: 50%;
  padding: 10px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

/* Hover- und Fokus-Effekte für Input-Felder */
.form input:hover,
.form input:focus {
  border-bottom: 1px solid #838383; /* Blauer Rand bei Fokus */
}

.button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 30px; /* Abgerundete Ecken für den Button */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.middle_button {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.middle_button button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 30px; /* Abgerundete Ecken für den Button */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40%;
  margin-bottom: 90%;
}
/* Button Styling */
.form-container button {
  width: 20%;
  padding: 10px;
  margin: 1em;
  margin-left: 0px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 30px; /* Abgerundete Ecken für den Button */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Hover-Effekt für den Button */
.form-container button:hover {
  background-color: #ccc;
}
.form-container p {
  color: #525252;
}

.form-container a {
  color: #5b5b5b;
  text-decoration: underline;
}

.form-container a:hover {
  color: #007bff;
}

/* Blogdetail page */
.bg-img {
  width: 100%;
  height: 30em;
  border-radius: 17px;
  background-size: cover;
  background-position: center;
}

.bg-img.hoch {
  grid-column: 2;
  grid-row: span 2;
  height: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

/* Account page */

/* Button unten rechts*/
.post {
  position: relative; /* Ermöglicht die Positionierung innerhalb des Containers */
}

/* Styling für die Container-Div */
.post .form {
  position: fixed; /* Fixiert die Position des Buttons */
  bottom: 20px; /* Abstand vom unteren Bildschirmrand */
  right: 20px; /* Abstand vom rechten Bildschirmrand */
  z-index: 1000; /* Stellt sicher, dass der Button über anderen Inhalten liegt */
}

/* Styling für das Bild im Button */
.post .form img {
  width: 40px; /* Breite des Icons */
  height: 40px; /* Höhe des Icons */
  margin: 2em;
  padding: 10px;
  background-color: #5b5b5bd5;
  filter: invert(1);
  border-radius: 15px;
  transition: transform 0.3s ease; /* Sanfte Animation beim Hover */
}

.post .form img:hover {
  transform: scale(1.1); /* Vergrößert das Icon bei Hover */
}
