* {
  font-family: "Poppins", "Arial", sans-serif;
}

header,
footer {
  background-color: white;
  padding: 12px;
}

h1.white {
  color: #fff;
  padding-left: 30px;
  padding-top: 30px;
}

h3.white {
  color: #fff;
  font-weight: 100;
  padding-left: 30px;
  margin-top: -10px;
}

button.white {
  background-color: transparent;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7;
  padding-bottom: 7;
  margin-left: 2em;
  border-radius: 70px;
  border: 2px solid white;
}
button.white:hover,
button.white:focus {
  background-color: #6f6f6f2b;
}

div.titelcard {
  background-image: url("/Images/Schottland.jpg"); /* Pfad zum Bild */
  background-size: cover; /* Passt das Bild an, sodass es den gesamten Bildschirm abdeckt */
  background-position: center; /* Positioniert das Bild in der Mitte */
  background-repeat: no-repeat; /* Verhindert, dass sich das Bild wiederholt */
  height: 300px; /* Stellt sicher, dass das Hintergrundbild die gesamte Höhe des Viewports einnimmt */
  margin: 0; /* Entfernt den Standardrand */
  border-radius: 30px;
}
h2 {
  color: #000000;
}

/* Forms */
/* Container für das Formular - graue box*/
.form-container {
  background-color: #e0e0e0; /* Grauer Hintergrund für das Formular */
  padding: 20px;
  border-radius: 10px; /* Abgerundete Ecken für den Formular-Container */
  width: 100%;
  max-width: 400px; /* Begrenzte Breite des Formulars */
}

/* Allgemeines Styling für die Formularelemente */
.form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form label {
  width: 120px; /* Festgelegte Breite für das Label */
  margin-right: 10px; /* Abstand zwischen Label und Input */
}

/* Styling für die Input-Felder */
.form input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

/* Hover- und Fokus-Effekte für Input-Felder */
.form input:hover,
.form input:focus {
  border-bottom: 1px solid #838383; /* Blauer Rand bei Fokus */
}

/* Button Styling */
.form-container button {
  width: 100%;
  padding: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 30px; /* Abgerundete Ecken für den Button */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Hover-Effekt für den Button */
.form-container button:hover {
  background-color: #ccc;
}
.form-container p {
  color: #333;
}

.form-container a {
  color: #333;
  text-decoration: underline;
}

.form-container a:hover {
  color: #007bff;
}
